.ui-transition-height {
  transition: height 0.3s;
  will-change: height;
}

.ui-transition-popup-center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  opacity: 0;
  transition: opacity 0.3s, transform 0.3s;
  will-change: opacity, transform;

  &.on {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1);
  }
}

@each $dir in top, right, bottom, left {
  .ui-transition-popup-#{$dir} {
    position: absolute;
    opacity: 0;
    #{$dir}: -10%;
    right: 0;
    left: 0;
    margin: auto;
    transition: opacity 0.3s,
    #{$dir} 0.3s;
    will-change: opacity,
    #{$dir};

    &.on {
      opacity: 1;
      #{$dir}: 0;
    }
  }
}

.ui-transition-toast {
  transition: height 0.3s, opacity 0.3s;
  will-change: height, opacity;
}

/**
 * button 样式覆盖
 **/
$buttonColors: (
  primary:'primary',
  success:'success',
  warning:'warning',
  warn:'warning',
  danger:'danger'
);

@each $key, $value in $buttonColors {
  .ui-button {
    &[type="#{$key}"] {
      color: #fff;
      background-color: var(--ui-#{$value});

      &[disabled],
      &[loading] {
        background-color: var(--ui-#{$value}-light-5);
      }
    }

    &[type="#{$key}"][plain] {
      color: var(--ui-#{$value});
      border: 1px solid var(--ui-#{$value}-light-5);
      background-color: var(--ui-#{$value}-light-9);

      &[disabled],
      &[loading] {
        color: var(--ui-#{$value}-light-5);
        border: 1px solid var(--ui-#{$value}-light-8);
        background-color: var(--ui-#{$value}-light-9);
      }
    }
  }
}

/**
 * 动画
 **/
.ui-rotate {
  animation: uiRotate 1s linear infinite;
}
@keyframes uiRotate {
  0% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(180deg);
  }
  100% {
    transform: rotate(360deg);
  }
}